@model List<ECommerceProject.EntityLayer.Concrete.ProductGroup>

@{
    ViewData["Title"] = "ProductGroups";
    ViewData["ActivePage"] = "Product-Groups";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<div class="max-w-7xl mx-auto">
    <h1 class="text-3xl font-semibold text-gray-700 mb-8">Ürün Grupları</h1>

    <div class="bg-gray-50 p-8 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold text-gray-700 mb-6">Mevcut Ürün Grupları</h2>
        <ul class="space-y-4">
            @foreach (var productGroup in Model)
            {
                int toggleId = productGroup.ProductGroupId;
                <li>
                    <div class="flex justify-between items-center bg-gray-100 p-4 rounded-lg border border-gray-300 hover:shadow-md transition">
                        <span class="font-semibold text-gray-900">@productGroup.Name</span>
                        <div class="space-x-3 flex items-center">
                            @if (productGroup.Products?.Any() == true)
                            {
                                <button onclick="toggleProducts(@toggleId)" class="text-blue-600 hover:text-blue-800 transition" title="Ürünleri Gör">
                                    <i class="fas fa-eye"></i>
                                </button>
                            }
                            <a asp-area="Admin" asp-controller="ProductGroup" asp-action="Edit" asp-route-id="@productGroup.ProductGroupId" class="text-yellow-600 hover:text-yellow-800 transition" title="Düzenle">
                                <i class="fas fa-edit"></i>
                            </a>
                            <button onclick="confirmDeleteGroup(@productGroup.ProductGroupId)" class="text-red-600 hover:text-red-800 transition" title="Sil">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                    </div>

                    @if (productGroup.Products?.Any() == true)
                    {
                        <div id="products-@toggleId" class="ml-6 mt-2 hidden">
                            <table class="w-full table-auto border-collapse border border-gray-300 shadow-md rounded-lg overflow-hidden">
                                @* <thead>
                        <tr class="bg-gray-200 text-gray-700">
                        <th class="border-b-2 py-4 text-left text-gray-600">Ürün Resmi</th>
                        <th class="border-b-2 py-4 text-left text-gray-600">Ürün Adı</th>
                        <th class="border-b-2 py-4 text-left text-gray-600">Fiyat(TL)</th>
                        <th class="border-b-2 py-4 text-left text-gray-600">Stok</th>
                        </tr>
                        </thead> *@
                                <thead>
                                    <tr>
                                        <th class="border-b-2 py-4 text-left text-gray-600">Ürün ID</th>
                                        <th class="border-b-2 py-4 text-left text-gray-600">Ürün Resmi</th>
                                        <th class="border-b-2 py-4 text-left text-gray-600">Ürün Adı</th>
                                        <th class="border-b-2 py-4 text-left text-gray-600">Fiyat(TL)</th>
                                        <th class="border-b-2 py-4 text-left text-gray-600">Toplam Stok</th>
                                        <th class="border-b-2 py-4 text-left text-gray-600">İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    @foreach (var product in productGroup.Products)
                                    {
                                        <tr class="">
                                            <td class="border-b py-4 px-4">@product.ProductId</td>
                                            
                                            <td class="border-b py-4 px-4">
                                                <a href="/urun/@product.Slug">
                                                    <img src="@product.ProductImages?.FirstOrDefault(img => img.IsMain)?.Url.Replace("wwwroot","")" alt="@product.Name" class="w-12 h-12 rounded-md object-cover">
                                                </a>
                                            </td>

                                            <td class="border-b py-4 px-4 underline">
                                                <a href="/urun/@product.Slug">
                                                    @product.Name
                                                </a>
                                            </td>
                                            <td class="border-b py-4 px-4">@product.Price</td>
                                            <td class="border-b py-4 px-4">@product.ProductVariants?.Sum(v => v.Stock)</td>
                                            <td class="border-b py-4 px-4">
                                                <a asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductId" class="text-yellow-600 hover:text-yellow-800 transition" title="Düzenle">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <button onclick="confirmDelete(@product.ProductId)" class="text-red-600 hover:text-red-800 transition" title="Sil">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </li>
            }
        </ul>
    </div>
</div>

<script>
    function toggleProducts(id) {
        var element = document.getElementById("products-" + id);
        if (element) {
            element.classList.toggle("hidden");
        }
    }

    function confirmDelete(productId) {
        Swal.fire({
            title: "Emin misiniz?",
            text: "Bu ürünü silmek istediğinize emin misiniz? Bu işlem geri alınamaz!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Evet, sil!",
            cancelButtonText: "İptal"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/Admin/Product/Delete?id=${productId}`;
            }
        });
    }
    function confirmDeleteGroup(productId) {
        Swal.fire({
            title: "Emin misiniz?",
            text: "Bu grubu ve bu grubun altında bulunan ürünleri silmek istediğinize emin misiniz? Bu işlem geri alınamaz!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Evet, sil!",
            cancelButtonText: "İptal"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/Admin/ProductGroup/Delete?id=${productId}`;
            }
        });
    }
</script>
