@model HomeViewModel
@using Microsoft.AspNetCore.Http.Extensions;
@using System.Text.Json
@{
    ViewData["Title"] = "Category";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
@{
    string categorySlug = Model.Categories.FirstOrDefault(c => c.CategoryId == Model.CurrentCategory)?.Slug;
    var currentUrl = Context.Request.GetDisplayUrl();
    var page = Context.Request.Query["page"].ToString();
    var colors = Context.Request.Query["colors"].ToArray();
    string colorsJson = JsonSerializer.Serialize(colors).Replace("\"", "").Replace("[","").Replace("]","");
    var sizes = Context.Request.Query["sizes"].ToArray();
    string sizesJson = JsonSerializer.Serialize(sizes).Replace("\"", "").Replace("[", "").Replace("]", ""); ;
    var minPrice = Context.Request.Query["minPrice"].ToString();
    var maxPrice = Context.Request.Query["maxPrice"].ToString();
}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        .product-name, 
        .product-description {
            white-space: nowrap; /* Tek satırda kalmasını sağlar */
            overflow: hidden; /* Taşan içeriği gizler */
            text-overflow: ellipsis; /* Kesilen yere '...' ekler */
            width: 100%; /* Genişliği ayarla (gerekirse değiştir) */
        }

        .size-checkbox,
        .color-checkbox {
            appearance: none;
            width: 16px;
            height: 16px;
            border: 2px solid #999;
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
            position: relative;
        }

            .size-checkbox:checked,
            .color-checkbox:checked {
                background-color: black;
                border-color: black;
            }

                /* Tik işareti SVG stili */
                .size-checkbox:checked::after,
                .color-checkbox:checked::after {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    transform: translate(-50%, -65%) rotate(45deg);
                    left: 50%;
                    top: 50%;
                }


    </style>

    <script>
        let page = 1;
        let isLoading = false;
        let pageSize = 10; // Her sayfada kaç ürün gösterilecek

        function loadMoreProducts(categoryId) {
            if (isLoading) return;
            isLoading = true;
            $("#loading").show();

            // Temel URL değişkeni
            let baseUrl = `/User/Home/GetPagedProductsByCategory?page=${page}&pageSize=${pageSize}&categoryId=${categoryId}`;

            // Filtreleri eklemek için boş bir dizi tanımla
            let filters = [];

            let selectedSizes = @Html.Raw(Json.Serialize(sizesJson));
            let selectedColors = @Html.Raw(Json.Serialize(colorsJson));

            let selectedSizeArr = selectedSizes.split(",").map(size => size.trim())
            let selectedColorArr = selectedColors.split(",").map(color => color.trim())
            console.log("selectedSizes:", selectedSizes, typeof selectedSizes);
            console.log("selectedColors:", selectedColors, typeof selectedColors);
            

            console.log("selectedSizes:", selectedSizes, typeof selectedSizes);
            let minPrice = '@minPrice';
            filters.push(`minPrice=${minPrice}`);
            let maxPrice = '@maxPrice';
            filters.push(`maxPrice=${maxPrice}`);

            

            // Eğer birden fazla beden (size) seçildiyse, URL'ye ekle
            if (selectedSizeArr.length > 0 && selectedSizeArr[0] != "") {
                // filters.push(`sizes=${selectedSizes.join("&sizes=")}`);
                selectedSizeArr.forEach(size => {
                    filters.push(`sizes=${size}`);
                    console.log("size:", size);
                });
            }

            // Eğer birden fazla renk (color) seçildiyse, URL'ye ekle
            if (selectedColorArr.length > 0 && selectedColorArr[0] != "") {
                // filters.push(`colors=${selectedColors.join("&colors=")}`);
                filters.push(`colors=${selectedColorArr.join("&colors=")}`);
                console.log("selectedColorArr:", selectedColorArr);
            }

            // Filtreleri birleştirerek tam URL'yi oluştur
            console.log("filters:", filters);
            let finalUrl = baseUrl + (filters.length > 0 ? "&" + filters.join("&") : "");

            $.get(finalUrl, function (data) {
                if (data.length > 0) {
                    data.forEach(product => {
                        $("#product-list").append(`

                    <div class="swiper-slide bg-white shadow-md relative w-full lg:w-60">
                             <!-- Stokta yok etiketi -->
                                ${product.stock <= 0 ? 
                                    `<div class="absolute top-2 left-2 bg-red-600 text-white text-xs font-semibold px-2 py-1 rounded shadow-lg z-20">
                                        Stokta Yok
                                    </div>` : ''}
                        <a href="urun/${product.slug}">

                            <!-- Ürün Resmi -->
                                            <img src="${product.mainImageUrl}" alt="Ürün" class="w-full h-60 md:h-72 object-cover ${product.stock <= 0 ? 'opacity-50' : ''}">

                            <div class="pb-3 px-3">
                                <!-- Ürün Bilgileri -->
                                        <h2 class="product-name text-lg font-semibold mt-3">${product.name}</h2>
                                        <p class="product-description text-gray-500 text-sm">${product.description}</p>

                                <div id="price-color-group" class="flex items-center justify-between">
                                    <!-- Fiyat -->
                                            <p class="text-black font-bold mt-2">₺${product.price}</p>

                                    <!-- Renk Seçenekleri -->
                                    <div class="relative flex items-center gap-1 bg-white px-2 py-1 rounded-xl shadow-md w-fit ${product.groupProductsCount <= 0 ? 'hidden' : ''}">
                                        <!-- Gradyan Daireler -->
                                        <div class="relative flex items-center">
                                          <!-- Soldaki: Üstte ve border-2 -->
                                          <div class="w-5 h-5 rounded-full border-2 border-white bg-[linear-gradient(90deg,_#2B2BBE,_#4FAAFD,_#C7F75C)] z-10"></div>
                                          <!-- Sağdaki: Arkada, hafif sol kaydırılmış -->
                                          <div class="w-5 h-5 rounded-full border-2 border-white bg-[linear-gradient(90deg,_#FBA1D6,_#FDF57F)] -ml-2 z-0"></div>
                                        </div>

                                        <!-- Sayı -->
                                        <div class="text-sm font-medium text-black">${product.groupProductsCount}</div>
                                    </div>


                                </div>

                                <!-- Sepete Ekle Butonu -->
                                <button class="mt-4 w-full border-2 border-gray-600 text-black py-2 rounded hover:bg-zinc-100 transition duration-200 ease-in-out">
                                    <i class="fa-solid fa-cart-shopping mr-2"></i> Sepete Ekle
                                </button>
                            </div>
                        </a>
                    </div>
                                    `);
                    });

                    page++; // Sonraki sayfaya geç
                } else {
                    $(window).off("scroll"); // Ürün yoksa scroll olayını kaldır
                }

                $("#loading").hide();
                isLoading = false;
            });
        }

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 800) {
                loadMoreProducts(@Model.CurrentCategory);
            }
        });

        // Sayfa açıldığında ilk sayfayı yükle
        $(document).ready(function () {
            loadMoreProducts(@Model.CurrentCategory);
        });
    </script>
</head>

@foreach(var category in Model.Categories)
{
    if(category.CategoryId == Model.CurrentCategory)
    {
        <div class="flex justify-center items-center">
            <div class="border-b-2 border-gray-300 p-2 mb-4 w-3/4">
                <h1 class="text-2xl font-semibold text-center mt-10">@category.Name</h1>

            </div>
        </div>
    }
}

<section class="pb-16 md:px-3 w-full">


    <!-- Mobilde Görünecek Filtre Butonu -->
    <div class="md:hidden py-2">
        <button id="filter-btn" class="bg-gray-800 text-white px-4 py-2 w-full flex justify-center items-center">
            Filtrele <i class="fa-solid fa-filter ml-1"></i>
        </button>

        <!-- Aşağı Doğru Açılan Filtre Kutusu -->
        <div id="mobile-filter-dropdown" class="hidden bg-white p-4 mt-2 rounded-md shadow transition-all duration-700">
            <form id="mobile-filter-form" action="@categorySlug" method="GET">

                <!-- Beden Seçimi -->
                <div class="mb-4">
                    <p class="font-medium mb-2">Beden</p>
                    <div class="flex gap-3 flex-wrap items-center">
                        <label class="flex items-center">
                            <input type="checkbox" name="sizes" value="STD" class="mr-1">
                            <span> STD</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" name="sizes" value="XXS" class="mr-1">
                            <span> 2XS</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" name="sizes" value="XS" class="mr-1">
                            <span> XS</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" name="sizes" value="S" class="mr-1">
                            <span> S</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" name="sizes" value="M" class="mr-1">
                            <span> M</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" name="sizes" value="L" class="mr-1">
                            <span> L</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" name="sizes" value="XL" class="mr-1">
                            <span> XL</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" name="sizes" value="XXL" class="mr-1">
                            <span> 2XL</span>
                        </label>
                    </div>
                </div>

                <!-- Renk Seçimi -->
                <div class="mb-4">
                    <p class="font-medium mb-2">Renk</p>
                    <div class="flex gap-3 flex-wrap">
                        <label><input type="checkbox" name="colors" value="black" class="mr-1"> Siyah</label>
                        <label><input type="checkbox" name="colors" value="white" class="mr-1"> Beyaz</label>
                        <label><input type="checkbox" name="colors" value="red" class="mr-1"> Kırmızı</label>
                        <label><input type="checkbox" name="colors" value="blue" class="mr-1"> Mavi</label>
                    </div>
                </div>

                <!-- Fiyat Seçimi -->
                <div class="mb-4">
                    <p class="font-medium mb-2">Fiyat</p>
                    <div class="flex gap-2">
                        <input type="number" name="minPrice" placeholder="Min" class="w-1/2 border p-2 rounded-md text-center">
                        <input type="number" name="maxPrice" placeholder="Max" class="w-1/2 border p-2 rounded-md text-center">
                    </div>
                </div>

                <!-- Filtrele Butonu -->
                <button type="submit" class="w-full bg-black text-white py-2 rounded-md mt-2">Filtrele</button>
            </form>
        </div>
    </div>



    <div id="container" class="grid grid-cols-1 md:grid-cols-4 md:gap-4">
        <!-- Filtreleme Alanı (PC'de Sidebar, Mobilde Gizli) -->
        <aside id="filter-sidebar" class="hidden md:block md:col-span-1 bg-white p-4 my-10 rounded-md sticky top-32 h-[450px] overflow-y-auto">
            <h2 class="font-semibold text-lg mb-2">Filtreleme</h2>
            <form id="filter-form" action="@categorySlug" method="GET">
                <!-- Sayfalama ve Kategori ID (Gizli Input) -->
                @* <input type="hidden" name="page" value="1">
                <input type="hidden" name="pageSize" value="10">
                <input type="hidden" name="categoryId" value="0"> *@

                <!-- Beden Seçimi -->
                <div>
                    <label class="block font-medium mb-2">Beden</label>
                    <div class="space-y-2">
                        <label class="flex items-center space-x-2">
                            <input type="checkbox" name="sizes" value="STD" class="size-checkbox">
                            <span>STD</span>
                        </label>
                        <label class="flex items-center space-x-2">
                            <input type="checkbox" name="sizes" value="XXS" class="size-checkbox">
                            <span>2XS</span>
                        </label>
                        <label class="flex items-center space-x-2">
                            <input type="checkbox" name="sizes" value="XS" class="size-checkbox">
                            <span>XS</span>
                        </label>
                        <label class="flex items-center space-x-2">
                            <input type="checkbox" name="sizes" value="S" class="size-checkbox">
                            <span>S</span>
                        </label>
                        <label class="flex items-center space-x-2">
                            <input type="checkbox" name="sizes" value="M" class="size-checkbox">
                            <span>M</span>
                        </label>
                        <label class="flex items-center space-x-2">
                            <input type="checkbox" name="sizes" value="L" class="size-checkbox">
                            <span>L</span>
                        </label>
                        <label class="flex items-center space-x-2">
                            <input type="checkbox" name="sizes" value="XL" class="size-checkbox">
                            <span>XL</span>
                        </label>
                        <label class="flex items-center space-x-2">
                            <input type="checkbox" name="sizes" value="XXL" class="size-checkbox">
                            <span>2XL</span>
                        </label>
                    </div>
                </div>

                <!-- Renk Seçimi -->
                <div class="mt-4">
                    <label class="block font-medium mb-2">Renk</label>
                    <div class="space-y-2">
                        <label class="flex items-center space-x-2">
                            <input type="checkbox" name="colors" value="black" class="color-checkbox">
                            <span>Siyah</span>
                        </label>
                        <label class="flex items-center space-x-2">
                            <input type="checkbox" name="colors" value="white" class="color-checkbox">
                            <span>Beyaz</span>
                        </label>
                        <label class="flex items-center space-x-2">
                            <input type="checkbox" name="colors" value="red" class="color-checkbox">
                            <span>Kırmızı</span>
                        </label>
                        <label class="flex items-center space-x-2">
                            <input type="checkbox" name="colors" value="yellow" class="color-checkbox">
                            <span>Sarı</span>
                        </label>
                        <label class="flex items-center space-x-2">
                            <input type="checkbox" name="colors" value="green" class="color-checkbox">
                            <span>Yeşil</span>
                        </label>
                        <label class="flex items-center space-x-2">
                            <input type="checkbox" name="colors" value="blue" class="color-checkbox">
                            <span>Mavi</span>
                        </label>
                    </div>
                </div>

                <!-- Fiyat Aralığı -->
                <div class="mt-4">
                    <label class="block font-medium">Fiyat</label>
                    <div class="flex items-center space-x-2">
                        <input type="number" name="minPrice" class="border p-1 w-20 text-center" placeholder="Min">
                        <span>-</span>
                        <input type="number" name="maxPrice" class="border p-1 w-20 text-center" placeholder="Max">
                    </div>
                </div>

                <!-- Filtrele Butonu -->
                <button type="submit" class="mt-4 bg-black text-white px-4 py-2 w-full rounded-md">
                    Filtrele
                </button>
            </form>
        </aside>


        <!-- Ürün Listesi -->
        <div id="product-list" class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-3 px-2 py-10 md:col-span-3">
            <!-- Ürünler buraya listelenecek -->
        </div>
    </div>

    

</section>

<script>
    const filterBtn = document.getElementById("filter-btn");
    const dropdown = document.getElementById("mobile-filter-dropdown");

    filterBtn.addEventListener("click", () => {
        dropdown.classList.toggle("hidden");
    });
</script>






<script src="~/js/home.js" defer></script>
