@using ECommerceProject.EntityLayer.Concrete
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<head>
    <style>
        /* .swiper-button-next,
        .swiper-button-prev {
            display: none !important;
        } */

            .swiper-button-next:after, .swiper-button-prev:after {
                font-size: 20px; /* İkonların boyutunu ayarlamak için */
                font-weight: 900; /* İkonların kalınlığını ayarlamak için */
            }

        .product-name, 
        .product-description {
            white-space: nowrap; /* Tek satırda kalmasını sağlar */
            overflow: hidden; /* Taşan içeriği gizler */
            text-overflow: ellipsis; /* Kesilen yere '...' ekler */
            width: 100%; /* Genişliği ayarla (gerekirse değiştir) */
        }
    </style>
</head>

<!-- Swiper Slider -->
<section class="relative mx-2 md:mx-6 lg:mx-12 mt-6">
    <div class="swiper mySwiper rounded-xl">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="~/ECommerceProjectTheme/SliderImages/slider7.jpg" alt="Slide 1" class="w-full h-[250px] md:h-[500px] object-cover">
            </div>
            <div class="swiper-slide">
                <img src="~/ECommerceProjectTheme/SliderImages/slider8.jpg" alt="Slide 2" class="w-full h-[250px] md:h-[500px] object-cover">
            </div>
            <div class="swiper-slide">
                <img src="~/ECommerceProjectTheme/SliderImages/slider5.jpg" alt="Slide 3" class="w-full h-[250px] md:h-[500px] object-cover">
            </div>
            <div class="swiper-slide">
                <img src="~/ECommerceProjectTheme/SliderImages/slider3.jpg" alt="Slide 3" class="w-full h-[250px] md:h-[500px] object-cover">
            </div>
        </div>
        <!-- Slider Kontrolleri -->
        <div class="swiper-button-next text-white"></div>
        <div class="swiper-button-prev text-white"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>

@* <h2 class="text-3xl font-semibold text-center mt-8 mb-4 text-gray-900">Öne Çıkan Ürünler</h2>
<hr class="w-72 h-px mx-auto bg-gray-100 border-0 rounded dark:bg-gray-700"> *@
<div class="flex items-center justify-center gap-4 mt-12 mb-4">
    <hr class="w-32 h-px bg-gray-300 border-0 rounded dark:bg-gray-700">
    <h2 class="text-3xl font-semibold text-gray-900 whitespace-nowrap">Öne Çıkan Ürünler</h2>
    <hr class="w-32 h-px bg-gray-300 border-0 rounded dark:bg-gray-700">
</div>

<!-- Öne Çıkarılan Ürünler Swiper Slider -->
<section class="pb-8 md:px-3 w-full">
    <div class="swiper productSwiper px-2 pt-4 pb-10">
        <div class="swiper-wrapper">
            @foreach (var product in Model.FeaturedProducts)
            {
                    <div class="swiper-slide bg-white shadow-md relative w-60">
                        <!-- Stokta yok etiketi -->
                        @(product.ProductVariants.Sum(pv => pv.Stock) <= 0
                            ? Html.Raw(@"<div class=""absolute top-2 left-2 bg-red-600 text-white text-xs font-semibold px-2 py-1 rounded shadow-lg z-20"">Stokta Yok</div>")
                            : null)

                        <a asp-area="User" asp-controller="Home" asp-action="ProductDetail" asp-route-slug="@product.Slug">

                            <!-- Ürün Resmi -->
                            <img src="@product.ProductImages.FirstOrDefault(img => img.IsMain == true).Url.Replace("wwwroot","")" alt="Ürün" class="w-full h-60 md:h-72 object-cover @(product.ProductVariants.Sum(pv => pv.Stock) <= 0 ? "opacity-50" : "")">

                            <div class="pb-3 px-3">
                                <!-- Ürün Bilgileri -->
                                <h2 class="product-name text-lg font-semibold mt-3">@product.Name</h2>
                                <p class="product-description text-gray-500 text-sm">@product.Description</p>

                                <div id="price-color-group" class="flex items-center justify-between">

                                    <!-- Fiyat -->
                                    <p class="text-black font-bold mt-2">₺@product.Price</p>

                                    <!-- Renk Seçenekleri -->
                                    <div class="relative flex items-center gap-1 bg-white px-2 py-1 rounded-xl shadow-md w-fit @(product.ProductGroup?.Products == null || product.ProductGroup?.Products.Count <= 1 ? "hidden" : "")">
                                        <!-- Gradyan Daireler -->
                                        <div class="relative flex items-center">
                                            <!-- Soldaki: Üstte ve border-2 -->
                                            <div class="w-5 h-5 rounded-full border-2 border-white bg-[linear-gradient(90deg,_#2B2BBE,_#4FAAFD,_#C7F75C)] z-10"></div>
                                            <!-- Sağdaki: Arkada, hafif sol kaydırılmış -->
                                            <div class="w-5 h-5 rounded-full border-2 border-white bg-[linear-gradient(90deg,_#FBA1D6,_#FDF57F)] -ml-2 z-0"></div>
                                        </div>

                                        <!-- Sayı -->
                                        <div class="text-sm font-medium text-black">@(product.ProductGroup?.Products.Count - 1)</div>
                                    </div>

                                </div>

                                <!-- Sepete Ekle Butonu -->
                                <button class="mt-4 w-full border-2 border-gray-600 text-black py-2 rounded hover:bg-zinc-100 transition duration-200 ease-in-out">
                                    <i class="fa-solid fa-cart-shopping mr-2"></i> Sepete Ekle
                                </button>
                            </div>
                        </a>

                    </div>
            }
        </div>

        <!-- Slider Kontrolleri -->
        <div class="swiper-button-next text-black"></div>
        <div class="swiper-button-prev text-black"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<!-- 4'lü Resimli Öne Çıkarılan Kategoriler -->
<section class="container mx-auto px-4 mt-6">
    <div class="grid grid-cols-2 lg:grid-cols-4">
        @foreach (var category in Model.Categories.Where(c => c.IsTopFourCategory))
        {
            <a asp-area="User" asp-controller="Home" asp-action="Category" asp-route-slug="@category.Slug" class="relative group">
                <img src="@category.ImageUrl?.Replace("wwwroot","")" alt="@category.Name" class="w-full h-[250px] md:h-[400px] object-cover">
                <div class="absolute inset-0 bg-black bg-opacity-10 flex items-center justify-center transition-opacity duration-300 group-hover:bg-opacity-20">
                    <span class="text-white [text-shadow:_0_4px_4px_rgb(0_0_0_/_0.8)] text-lg font-semibold">@category.Name</span>
                </div>
            </a>
        }
    </div>
</section>


<!-- Öne Çıkarılan Kategorilerdeki Ürünler Swiper Slider -->
<section class="pb-16 md:px-3 w-full">
    @foreach (var category in Model.Categories.Where(c => c.IsFeatured)) // Sadece öne çıkarılmış kategoriler
    {
        // Kategorinin içindeki ürünleri al
        var categoryProducts = Model.FeaturedCategoryProducts.Where(product => product.CategoryId == category.CategoryId).ToList();
        if (!categoryProducts.Any()) continue;

        @* <h2 class="text-2xl font-bold mb-4 px-2">@category.Name</h2> *@
        <div class="flex items-center justify-center gap-4 mt-12 mb-4">
            <hr class="w-32 h-px bg-gray-300 border-0 rounded dark:bg-gray-700">
            <h2 class="text-3xl font-semibold text-gray-900 whitespace-nowrap">@category.Name</h2>
            <hr class="w-32 h-px bg-gray-300 border-0 rounded dark:bg-gray-700">
        </div>

        <div class="swiper productSwiper px-2 pt-4 pb-10">
            <div class="swiper-wrapper">
                @foreach (var product in categoryProducts)
                {
                    if(product.CategoryId != category.CategoryId) continue;

                    <div class="swiper-slide bg-white shadow-md relative w-60">

                        <!-- Stokta yok etiketi -->
                        @(product.ProductVariants.Sum(pv => pv.Stock) <= 0
                            ? Html.Raw(@"<div class=""absolute top-2 left-2 bg-red-600 text-white text-xs font-semibold px-2 py-1 rounded shadow-lg z-20"">Stokta Yok</div>")
                            : null)

                        <a asp-area="User" asp-controller="Home" asp-action="ProductDetail" asp-route-slug="@product.Slug">

                            <!-- Ürün Resmi -->
                            <img src="@product.ProductImages.FirstOrDefault(img => img.IsMain == true)?.Url.Replace("wwwroot","")" alt="Ürün" class="w-full h-60 md:h-72 object-cover @(product.ProductVariants.Sum(pv => pv.Stock) <= 0 ? "opacity-50" : "")">
                            
                            <div class="pb-3 px-3">
                                <!-- Ürün Bilgileri -->
                                <h2 class="product-name text-lg font-semibold mt-3">@product.Name</h2>
                                <p class="product-description text-gray-500 text-sm">@product.Description</p>
                            
                                <div id="price-color-group" class="flex items-center justify-between">
                                    <!-- Fiyat -->
                                    <p class="text-black font-bold mt-2">₺@product.Price</p>

                                    <div class="relative flex items-center gap-1 bg-white px-2 py-1 rounded-xl shadow-md w-fit @(product.ProductGroup?.Products == null || product.ProductGroup?.Products.Count <= 1 ? "hidden" : "" )">
                                        <!-- Gradyan Daireler -->
                                        <div class="relative flex items-center">
                                            <!-- Soldaki: Üstte ve border-2 -->
                                            <div class="w-5 h-5 rounded-full border-2 border-white bg-[linear-gradient(90deg,_#2B2BBE,_#4FAAFD,_#C7F75C)] z-10"></div>
                                            <!-- Sağdaki: Arkada, hafif sol kaydırılmış -->
                                            <div class="w-5 h-5 rounded-full border-2 border-white bg-[linear-gradient(90deg,_#FBA1D6,_#FDF57F)] -ml-2 z-0"></div>
                                        </div>

                                        <!-- Sayı -->
                                        <div class="text-sm font-medium text-black">@(product.ProductGroup?.Products.Count - 1)</div>
                                    </div>
                            
                                    @* <!-- Renk Seçenekleri -->
                                    <div class="relative flex justify-start items-center mt-2">
                                        <div id="colorContainer" class="relative flex items-center">
                                            <div class="w-5 h-5 rounded-full border-2 border-white bg-[#8B5E3B]"></div>
                                            <div class="w-5 h-5 rounded-full border-2 border-white bg-[#000000] -ml-2.5"></div>
                                            <div class="w-5 h-5 rounded-full border-2 border-white bg-[#FF0000] -ml-2.5"></div>
                                            <div class="w-5 h-5 rounded-full border-2 border-white bg-gray-300 text-xs flex items-center justify-center font-bold -ml-2.5">
                                                +2
                                            </div>
                                        </div>
                                    </div> *@
                                </div>
                            
                                <!-- Sepete Ekle Butonu -->
                                <button class="mt-4 w-full border-2 border-gray-600 text-black py-2 rounded hover:bg-zinc-100 transition duration-200 ease-in-out">
                                    <i class="fa-solid fa-cart-shopping mr-2"></i> Sepete Ekle
                                </button>
                            </div>
                        </a>
                    </div>
                }
            </div>

            <!-- Slider Kontrolleri -->
            <div class="swiper-button-next text-black"></div>
            <div class="swiper-button-prev text-black"></div>
            <div class="swiper-pagination"></div>
        </div>
    }
</section>


@* 
<h2 class="text-3xl font-semibold text-center mt-8 mb-4 text-gray-900">Öne Çıkan Ürünler</h2>
<hr class="w-72 h-px mx-auto bg-gray-100 border-0 rounded dark:bg-gray-700">


<!-- Ürünler Bölümü -->
<section class="pb-16 md:px-3 w-full">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3 px-2 py-10">
        <!-- Ürünler Listesi -->

        @foreach(var product in Model.FeaturedProducts)
        {
            <div class="bg-white shadow-md relative">
                <!-- Ürün Resmi -->
                <img src="@product.ProductImages.FirstOrDefault(img => img.IsMain == true).Url.Replace("wwwroot","")" alt="Ürün" class="w-full h-60 md:h-72 object-cover">
                 
                <div class="pb-3 px-3">   
                    <!-- Ürün Bilgileri -->
                    <h2 class="product-name text-lg font-semibold mt-3">@product.Name</h2>
                    <p class="product-description text-gray-500 text-sm">@product.Description</p>

                    <!-- Fiyat -->
                    <p class="text-black font-bold mt-2">@product.Price ₺</p>

                    <!-- Renk Seçenekleri -->
                    <div class="relative flex justify-start items-center mt-2">
                        <div id="colorContainer" class="relative flex items-center">
                            <div class="w-5 h-5 rounded-full border-2 border-white bg-[#8B5E3B]"></div>
                            <div class="w-5 h-5 rounded-full border-2 border-white bg-[#000000] -ml-2.5"></div>
                            <div class="w-5 h-5 rounded-full border-2 border-white bg-[#FF0000] -ml-2.5"></div>
                            <div class="w-5 h-5 rounded-full border-2 border-white bg-gray-300 text-xs flex items-center justify-center font-bold -ml-2.5">
                                +2
                            </div>
                        </div>
                    </div>

                    <!-- Sepete Ekle Butonu -->
                    <button class="mt-4 w-full border-2 border-gray-600 text-black py-2 rounded hover:bg-zinc-100 transition duration-200 ease-in-out">
                        <i class="fa-solid fa-cart-shopping mr-2"></i> Sepete Ekle
                    </button>
                </div>
            </div>
        }


    </div>
</section>
 *@


<script src="~/js/home.js" defer></script>



